<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <div style='position:fixed;bottom:0;width:100%'>
      <button menuClose ion-item *ngIf="!user" (click)="registerUser()">Register</button>
      <button menuClose ion-item *ngIf="!user" (click)="login()">Login</button>
      <button menuClose ion-item *ngIf="user" (click)="logout()">Logout</button>
      <button menuClose ion-item *ngIf="user" (click)="profile()">{{user.name}} - Profile</button>
    </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>